@import "../../assets/style.scss";

.Header {
    display: flex;
    align-items: center;

    p {
        color: $color2;
        font-size: 2em;
        font-weight: bold;
        letter-spacing: 4px;
        &::first-letter {
            color: $color1;
        }
        margin: 1em 0;
    }
}
